<div class="text-center" style="background-color:cornsilk">
    <h2 class="text-center text-dark" style="font-family:'Times New Roman', Times, serif "> <u> Heritage Woods </u> </h2>
    <hr>
    <!-- <div class="text-dark" style="font-family:Arial, Helvetica, sans-serif">
        <h5>Buy/Sell Old/New Furniture as per your needs</h5> -->
    <!-- </div> -->
    <h3 class="text-dark" style="font-family:Arial, Helvetica, sans-serif"> <b>ABOUT US</b></h3>
      
   <div id="bms-element-body" class="bms-custom-element bms-type-body text-dark">
      <div class="bms-inside">

         <div id="bms-body-box" class="bms-custom-element bms-type-box">
             <div class="bms-inside">

                <div class="container fixed-header-margin">
                    <div class="pagebody">

                        <div class="static-content-section">
                            <p class="contentListUnord">
                                We, at HeritageWoods, have been at the forefront of the industry creating beautiful spaces for you within your homes and offices since 2021.
                                <br>
                                We are humbled to have touched the lives of millions of people with our range of world class home and office furniture, innovative laminates, sturdy designer doors, exquisite veneers and top-grade plywood.
                            </p>
                            <p class="contentListUnord">
                                From being the pioneers in veneer business to being the leading furniture company and a lifestyle brand we have come a long way since then and the journey, so far, has been an enriching and memorable one.
                            </p>
                            <p class="contentListUnord">
                                We currently have a successful foray into the ecommerce biz with our website <a href="http://localhost:49469/">www.heritagewoods.in</a>. This is the relentless pursuit of our vision to be one of the best interior solution providers that has made what we are today.

                            </p>
                            <p class="contentListUnord">
                                With the advent of our new Modular Factory we have undertaken orders for institutional offices across India with some of our most prominent clients being stalwarts of the public and private sectors. Having tasted success with many turnkey projects it is our ambition to be the primary provider for premium office desking and shelving systems across India.<br>
                                By challenging the way we see and do things leads us to new ideas that inspire innovations for our partners. <br>
                                We process a plethora of orders both big and small for a huge selection of materials and furniture. From happy clients in businesses to  happy homes for our customers, we process a multitude of orders everyday. A dedicated team works for every platform we cater to like Institutional sales, Retail and Ecommerce.

                            </p>
                            <p class="contentListUnord">
                                It is our belief that when you purchase a piece of furniture you are creating an experience, a memory. And it is these experiences we strive to create for our valuable customers. We have received immense love from them and we strive to bring them new experiences everyday.
                            </p>
                            <p class="title1 text-italic">We believe in:</p>
                            <h3>PASSION :</h3>
                            <p class="contentListUnord">
                                We dare to dream, we always aim higher. By constantly setting new standards in who we are and what we do, our passion will spur us on.
                            </p>
                            <h3>PARTNERSHIP :</h3>
                            <p class="contentListUnord">
                                We work as a team with mutual trust and shared accountability towards a common goal in a collaborative environment, to meet the needs and expectations of all stakeholders. We always stand behind our promises and act with complete integrity.
                            </p>
                            <h3>INNOVATION :</h3>
                            <p class="contentListUnord">
                                We are constantly seeking to exceed our previous best, with creativity and imagination. By challenging the way we see and to things, it leads to fresh perspectives and new ideas that inspire business innovation drive sustainable efficiencies and deliver superior product offerings.
                            </p>
                            <p class="title1 text-italic">What makes us different?</p>
                            <p class="contentListUnord">5 Year Warranty : An assurance to take care of your furniture and you.</p>

                            <p class="contentListUnord">
                                WHITE GLOVE Delivery : We provide expert technicians to assemble your furniture with care in select cities.
                            </p>
                            <p class="contentListUnord">
                                FREE Installation  : We help you assemble your furniture free of cost.
                            </p>
                            <p class="contentListUnord">
                                EASY Pay : With Cash on Delivery, shopping is more convenient.
                            </p>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</div>
