<div class="container col-md-6" style="background-color:lightskyblue;">
<form style="color: black;">
    <div class="mb-3">
        <label for="usertype" class="form-label">Role</label>
        <select class="form-control" id="usertype">
            <option>--Select--</option>
            <option>Admin </option>
            <option>User </option>
        </select>
      </div>

    <div class="mb-3">
      <label for="EmailAddress" name="EmailAddress" class="form-label">Email address*</label>
      <input type="email" class="form-control" id="EmailAddress" required>
    </div>

    <div class="mb-3">
      <label for="Password" class="form-label">Password*</label>
     <input type="password" class="form-control" id="Password" required>
    </div>
     
    <div class="text-center">
    <button type="submit" class="btn btn-primary">Login</button>
    </div>
    
    <div>
     &nbsp;
    </div>
 </form>
</div>