<table class="text-dark" border="1" style="background-color: wheat; border: dodgerblue 2px solid;">
    <tr style="border: dodgerblue 2px solid;">
        <th>User ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Type</th>
        <th>Mobile</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>PINCODE</th>
    </tr>
    <tr *ngFor="let u of obju.UserList">
        <td>{{u.Userid}}</td>
        <td>{{u.FirstName}}</td>
        <td>{{u.MiddleName}}</td>
        <td>{{u.LastName}}</td>
        <td>{{u.Gender}}</td>
        <td>{{u.Email}}</td>
        <td>{{u.Type}}</td>
        <td>{{u.Mobile}}</td>
        <td>{{u.UCity}}</td>
        <td>{{u.UState}}</td>
        <td>{{u.UCountry}}</td>
        <td>{{u.UZip}}</td>
    </tr>
</table>
