<!-- <p>navigation works!</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">HeritageWoods</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <fa-icon class="bg-dark text-light" [icon]="faHome"></fa-icon> 
            <a class="nav-link active text-warning" aria-current="page" routerLink="/">Home</a>
          
            <fa-icon class="bg-dark text-light" [icon]="faCouch"> Products</fa-icon>
             <a class="nav-link text-warning" routerLink="/product">Products</a> 

             <fa-icon class="bg-dark text-light" [icon]="faSortAmountUpAlt"></fa-icon> 
             <a class="nav-link text-warning" routerLink="/order">Orders</a>

            <fa-icon class="bg-dark text-light" [icon]="faAddressCard"></fa-icon>  
            <a class="nav-link text-warning" routerLink="/about">About</a>

            <fa-icon class="bg-dark text-light" [icon]="faPhone"></fa-icon> 
            <a class="nav-link text-warning" routerLink="/contact">Contact Us</a>

          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav>